name: Changelog Update Check

on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  changelog_update_check:
    name: Check for CHANGELOG.md update
    runs-on: ubuntu-latest
    if: ${{!contains(github.event.pull_request.title, '[skip-version-check]')}}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0

      - name: Check for changes
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        with:
          filters: |
            code:
              - 'src/**'
            changelog:
              - 'CHANGELOG.md'

      - run: echo ${{github.event.pull_request.title}}

      - name: Fail if code changed but changelog not updated
        if: steps.filter.outputs.code == 'true' && steps.filter.outputs.changelog != 'true'
        run: |
          echo "Elements code changed but CHANGELOG.md not updated. Please run pnpm bump-version, or skip this check by adding [skip-version-check] to the PR title and re-pushing."
          exit 1
