name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

      - uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
        with:
          version: 8.7.6

      - name: Set Up Node
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to NPM
        id: changesets
        uses: changesets/action@ce079ea084e08a340947ed4d6ecedb2433c8f293
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        continue-on-error: true

      # Add single retry if first attempt fails
      - name: Retry Release on Failure
        if: steps.changesets.outcome == 'failure'
        uses: changesets/action@ce079ea084e08a340947ed4d6ecedb2433c8f293
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # - name: Send a Slack notification if a publish happens
      #   if: steps.changesets.outputs.published == 'true'
      #   uses: slackapi/slack-github-action@v1.23
      #   with:
      #     channel-id: "C04NPHF688Y" # The figapp-alerts channel
      #     slack-message: "A new version of ${GITHUB_REPOSITORY} was published!"
      #   env:
      #     SLACK_BOT_TOKEN: ${{ secrets.SLACKBOT_OAUTH_TOKEN }}
